.carousel-item img{
    height: 460px;
    object-fit: contain;
}
.marca {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: 300;*/
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.marca a{
  text-decoration: none;
  color: white;
}
.productos{
  margin: 20px;
}
.info-general{
  background-color: darkgrey;
}